body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #282828;
    color:rgb(185, 185, 185);

    margin: 0;
}

.main {
  padding-left: 50%;
  padding-right: 50%;
}

table {
  background-color: rgb(255, 255, 255);
}

th {
  color: black;
}

img {
  border: solid 10px red;
}